gallery-block {
  text-align: center;
  margin: 0 auto;
}
.gallery-block h3 {
  margin: 10px;
  text-transform: uppercase;
}
.gallery-block hr {
  width: 100%;
}
.image-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.passInput {
  padding: 8px 15px;
  margin-right: 5px;
  border-radius: 5px;
}
.openBtn {
  border: 2px solid dimgrey;
  padding: 10px 20px;
  border: none;
  background: dimgrey;
  color: white;
  font-weight: bold;
  margin: 10px 0px;
  border-radius: 5px;
  cursor: pointer;
}
.openBtn:disabled {
  background: lightgray;
  cursor: default;
}
.openBtn:active {
  background: rgba(0,0,0,0);
  color: dimgrey;
  box-shadow: inset 0 0 0 3px dimgrey;
}
#hideForm {
  flex-direction: column;
  display: flex;
}
.hide-box input {
  margin: 0px;
}
.hide-box button {
  margin: 0px 0px 10px 0px;
}
.gallery-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 125px;
  border-radius: 5px;
  border: 2px solid dimgrey;
  margin-top: 20px;
}
.gallery-img h4 {
  margin: 0px 0px 2px 0px;
  padding-top: 5px;
}
