<div class="gallery-block">
  <h3>Gallery</h3>
  <hr>
  <div class="form-block">
      <input name="password" placeholder="Password" class="passInput">
      <button class="openBtn" (click)="this.showForm = !this.showForm; onShowForm($event)">Open form</button>
    <form *ngIf="showForm" (submit)="onAddCard($event)">
      <div class="hide-box" id="hideForm">
        <input name="imageTitle" placeholder="Image title" class="passInput" [(ngModel)]="imageTitle"><br/>
        <input name="imageUrl" placeholder="Image URL" class="passInput" [(ngModel)]="imageUrl"><br/>
        <button type="submit" class="openBtn" [disabled]="imageTitle === '' || imageUrl === ''">Add image</button>
        <button class="openBtn" (click)="reset()">Reset</button>
      </div>
    </form>
  </div>
  <hr>
  <div class="image-box">
    <div *ngFor="let card of baseImages" class="gallery-img">
      <h4 [title]="card.title">Image</h4>
      <img [src]="card.img" [alt]="card.title" width="100px" height="100px">
    </div>
  </div>
</div>
