<div class="lottery">
  <h3>Random Numbers</h3>
  <hr>
  <button type="button" class="newNumberBtn" (click)="onBtnClick()">{{title}}</button>
  <div class="number-box">
    <div *ngFor="let number of randomNumbersArray" class="number">{{number}}</div>
  </div>
</div>
