.lottery {
  text-align: center;
}
.lottery h3 {
  margin: 10px;
  text-transform: uppercase;
}
.number-box {
  display: flex;
}
.newNumberBtn {
  border: 2px solid dimgrey;
  padding: 10px 20px;
  border: none;
  background: dimgrey;
  color: white;
  font-weight: bold;
  margin: 10px 10px 10px 0px;
  border-radius: 5px;
  cursor: pointer;
}
.newNumberBtn:hover {
  background: rgba(0,0,0,0);
  color: dimgrey;
  box-shadow: inset 0 0 0 3px dimgrey;
}
.newNumberBtn:active {
  background: dimgrey;
  color: white;
}
.number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid dimgrey;
  margin-right: 10px;
  margin-top: 20px;
}
